/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);}*/
@font-face {
  font-family: 'Rosario';
  src: url("../fonts/Rosario-Bold.eot"), url("../fonts/Rosario-Bold.otf") format("opentype"), url("../fonts/Rosario-Bold") format("woff"), url("../fonts/Rosario-Bold.ttf") format("truetype"), url("../fonts/Rosario-Regular.eot"), url("../fonts/Rosario-Regular.otf") format("opentype"), url("../fonts/Rosario-Regular") format("woff"), url("../fonts/Rosario-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "tungsten";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TungstenComp-Light.otf");
}

@font-face {
  font-family: "quadon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quadon.otf");
}

@font-face {
  font-family: 'Icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'socicon';
  src: url("../fonts/socicon-webfont.eot");
  src: url("../fonts/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/socicon-webfont.woff") format("woff"), url("../fonts/socicon-webfont.ttf") format("truetype"), url("../fonts/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/FontAwesome.otf");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/socicon-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

/* line 84, ../sass/reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 92, ../sass/reset.scss */
.socicon {
  position: relative;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  top: 0.5em;
}

/* line 103, ../sass/reset.scss */
.socicon:empty {
  width: 1em;
}

/* line 107, ../sass/reset.scss */
.socicon-twitter:before {
  content: "a";
}

/* line 108, ../sass/reset.scss */
.socicon-facebook:before {
  content: "b";
}

/* line 109, ../sass/reset.scss */
.socicon-youtube:before {
  content: "r";
}

/* line 110, ../sass/reset.scss */
.socicon-instagram:before {
  content: "x";
}

/* line 115, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*.symbol, a.symbol:before {
    font-family: "MonoSocialIconsFont";
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}*/
/* line 133, ../sass/reset.scss */
a {
  color: #c5a47e;
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: color,0.6s,ease-in;
  -moz-transition: color,0.6s,ease-in;
  transition: color, 0.6s, ease-in;
}

/*a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}*/
/* line 150, ../sass/reset.scss */
h1, h2 {
  font-family: 'MindBlue',Helvetica Neue,Helvetica,Arial, sans-serif;
  color: #353535;
}

/* line 156, ../sass/reset.scss */
h1, .h1 {
  margin: 0.6em 0px;
}

/* line 162, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-rendering: optimizelegibility;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

/* reset */
/* line 174, ../sass/reset.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 181, ../sass/reset.scss */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #b1aea6;
  background: #fffcf5;
  min-height: 800px;
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  /* line 190, ../sass/reset.scss */
  from {
    padding: 0;
  }

  /* line 191, ../sass/reset.scss */
  to {
    padding: 0;
  }
}

/* border-box statt content-box */
/* line 196, ../sass/reset.scss */
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 204, ../sass/reset.scss */
.clearfix:before,
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 214, ../sass/reset.scss */
.clearfix:after {
  clear: both;
}

/* line 221, ../sass/reset.scss */
a {
  color: #ccc;
  text-decoration: none;
  display: block;
}

/* main in uebung container ist nur für die dimensionen zuständig   */
/* line 230, ../sass/reset.scss */
.container {
  padding-top: 1em;
  background: pink;
}

/* line 239, ../sass/reset.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  box-sizing: border-box;
}

/* line 250, ../sass/reset.scss */
iframe, object, embed {
  max-width: 100%;
}

@media all and (min-width: 30em) {
  /* line 16, ../sass/media_queries.scss */
  section.sect-intro .vst_announcement .vst_border {
    border-bottom: 8px solid #dbdbdb;
    border-top: 8px solid #dbdbdb;
  }
  /* line 21, ../sass/media_queries.scss */
  section.sect-intro .vst_announcement h2.vst_mainlink {
    font-size: 2.2em;
  }

  /* line 31, ../sass/media_queries.scss */
  .intro h2.archiv_font {
    font-size: 1.5em;
  }
  /* line 35, ../sass/media_queries.scss */
  .intro h2.archiv_font span {
    font-size: 3em;
  }

  /* line 43, ../sass/media_queries.scss */
  article.sub_nav {
    float: left;
    width: 45%;
  }

  /* line 51, ../sass/media_queries.scss */
  .sep_small_50 {
    display: none;
  }

  /* line 57, ../sass/media_queries.scss */
  footer.footer-main .row nav ul.social li.bright:hover::before {
    transform: scale(1.1);
    background-color: none;
  }

  /* line 62, ../sass/media_queries.scss */
  .g-6_cols {
    margin: 2%;
  }

  /* line 67, ../sass/media_queries.scss */
  p.vst_sub {
    font-size: 2em;
  }
}
/*------------------- 54em ----------------*/
@media (min-width: 54em) {
  /* line 77, ../sass/media_queries.scss */
  #dl-menu {
    display: none;
  }

  /* line 84, ../sass/media_queries.scss */
  #wr_newsletter {
    max-width: 45em;
  }

  /* line 90, ../sass/media_queries.scss */
  header.header-main .nav {
    float: right;
    display: inline-block;
    height: 7em;
  }

  /*.sect-work article a:hover .overlay_post {
      background-color:#c4856e;
  }
  
  
  
  .sect-work article a:hover .overlay-oldcreek {
  
    background-color: rgba(196,133,110, 0.7);
  }*/
  /* line 111, ../sass/media_queries.scss */
  section.sect-work .cols {
    float: none;
    position: relative;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 119, ../sass/media_queries.scss */
  section.sect-work .g-6_cols {
    float: left;
    width: 45%;
  }
  /* line 125, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg {
    height: 34em;
    top: 0;
    padding: 0;
  }
  /* line 131, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg.overlay_post {
    transition: background-color 1s ease-in-out;
    background-color: rgba(150, 132, 55, 0.6);
    position: absolute;
    height: 120%;
    width: 100%;
    display: block;
    top: -32px;
    left: 0px;
    z-index: 2;
    opacity: 0.7;
  }
  /* line 145, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg:hover .hexagon {
    z-index: 991;
    background-color: silver;
    color: #ffffff;
  }
  /* line 151, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg:hover .hexagon:before {
    border-bottom: 12.99px solid silver;
  }
  /* line 156, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg:hover .hexagon:after {
    border-top: 12.99px solid silver;
  }
  /* line 166, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg ul.work-list {
    display: block;
  }
  /* line 170, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg ul.work-list.list_post {
    bottom: 12em;
  }
  /* line 176, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg .top_color {
    position: relative;
    width: 100%;
    height: 1em;
    background-color: silver;
  }
  /* line 183, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg .content {
    width: 100%;
    opacity: 1;
    padding: 0px 1%;
    z-index: 10;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    /*position: absolute;*/
    top: 6em;
    /*transform: translateY(-50%);*/
    transition: all 0.5s ease-in-out 0s;
    min-height: 23em;
  }
  /* line 200, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg .content #transportline {
    padding-top: 2em;
    width: 55%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 209, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg figure {
    margin: 0;
  }
  /* line 219, ../sass/media_queries.scss */
  section.sect-work .g-6_cols.post_bg figcaption p {
    position: relative;
    padding: 1em 0;
    color: #ffffff;
    z-index: 999;
    font-weight: 400;
    font-family: "Lato",Calibri,Arial,sans-serif;
    width: 90%;
    text-transform: uppercase;
  }
  /* line 242, ../sass/media_queries.scss */
  section.sect-work .toggle_current .list_chevron {
    display: inline-block;
    padding-right: 1em;
  }
  /* line 251, ../sass/media_queries.scss */
  section.sect-work .collapse {
    display: none;
  }
  /* line 263, ../sass/media_queries.scss */
  section.sect-work .content .btn_access_vst {
    width: 14em;
    margin: 0 auto;
  }
  /* line 275, ../sass/media_queries.scss */
  section.sect-work .menu {
    position: relative;
    opacity: 1;
    max-height: 1000em;
    overflow: visible;
    transform: scale(1);
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 284, ../sass/media_queries.scss */
  section.sect-work .menu i {
    text-align: center;
  }
  /* line 291, ../sass/media_queries.scss */
  section.sect-work .menu .smallmenu120 {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    /*border-bottom: 1px solid $grey-subline;*/
  }
  /* line 299, ../sass/media_queries.scss */
  section.sect-work .menu .smallmenu120 h3 {
    margin: 0;
    margin: 0;
    padding: 1em 0;
    font-weight: 600;
    text-rendering: optimizelegibility;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: "quadon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #a6a6a6;
  }
  /* line 318, ../sass/media_queries.scss */
  section.sect-work header.header-main .nav {
    float: right;
    display: inline-block;
    height: 7em;
  }
  /* line 324, ../sass/media_queries.scss */
  section.sect-work footer.footer-main aside {
    font-size: 90%;
  }
  /* line 329, ../sass/media_queries.scss */
  section.sect-work footer.footer-main {
    background-size: 50em auto;
    background-position: 50% -30%;
  }
  /* line 335, ../sass/media_queries.scss */
  section.sect-work footer.footer-main nav ul.social {
    width: 80%;
  }

  /* line 346, ../sass/media_queries.scss */
  footer.footer-main .row nav ul.social li {
    /*display:inline-block;*/
    width: 20%;
    	/*max-width: 20em; 
      	height: 6em;
      	transition: background-color ease-in-out 0.5s;
      	position: relative;
      	overflow: hidden;*/
  }

  /* line 360, ../sass/media_queries.scss */
  .pr_wr {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 367, ../sass/media_queries.scss */
  .sect-work article a:hover .overlay-oldcreek {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
  }

  /* line 375, ../sass/media_queries.scss */
  ul.mobile_post {
    display: none;
  }
}
/* ------------------ 54em ----------------- */
@media (min-width: 75em) {
  /* line 393, ../sass/media_queries.scss */
  .welcome {
    height: 45em;
  }

  /* line 400, ../sass/media_queries.scss */
  header.header-main .nav {
    right: 10%;
  }

  /* line 408, ../sass/media_queries.scss */
  header.header-main .nav ul.nav_menu li {
    transition: ease-in 0.5s;
    margin-left: 4em;
  }

  /* line 414, ../sass/media_queries.scss */
  ul.uilogo .font_logo {
    font-size: 2em;
  }

  /* line 419, ../sass/media_queries.scss */
  #slider .slides img {
    width: 60em;
    height: auto;
  }
}
